.filters p, .filters label, .filters input, .filters select{
    font-size: 12px;
}

.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
}
.the-fieldset {
    border: 1px solid #e0e0e0;
    padding: 10px;
}

main{
    background: #fff;
}

#scrapped-content p{
    font-size: .9rem !important;
}


#keyword-search-box-trigger{
    background: white;
    border: none;
    box-shadow: 0 0 19px #0000006b;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 57%;
    right: 20px;
    z-index: 9999;
    outline: none;
    display: none;
}

#keyword-search-box-trigger:active, #keyword-search-box-trigger:focus{
    outline: none;
}

#keyword-search-box-trigger:hover{
    background: #ffddd2;
}

.keyword-search-box{
    position: fixed;
    width: 30%;
    max-width: 300px;
    padding: 15px 20px;
    background: white;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 18px 3px #00000042;
    right: 35px;
    top: 60%;
    z-index: 999;
    display: none;
}

.keyword-search-box.openned, #keyword-search-box-trigger.openned{
    display: block;
    transition: display 500ms;
}

.keyword-search-box button.close:focus{
    outline: none;
}

mark{
    background-color: #f9f94e !important;
}